*.class
*.log
.DS_Store

# sbt specific
.cache/
.history/
.lib/
.target/
dist/*
target/
.target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.settings/
.classpath
.project
.metadata
.cache

# IntelliJ
.idea
